<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/5b/26/26/5b262629a153363a7f0e150a6ca9dffb.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/a9/db/d6/a9dbd64a85d59e3cbd9e89beab8968f7.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/32f72a50-8aa2-446e-af22-8ea31e2c4670/d8nzi00-ece87f1d-b8d4-4523-bc2e-fd62c87ed7d7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMyZjcyYTUwLThhYTItNDQ2ZS1hZjIyLThlYTMxZTJjNDY3MFwvZDhuemkwMC1lY2U4N2YxZC1iOGQ0LTQ1MjMtYmMyZS1mZDYyYzg3ZWQ3ZDcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.96qYUQzsaJWaEeLpMT54W_IyAMowYw4KPys_OVuUaUo" class="d-block w-100" alt="...">
        </div>
    </div>
</div>