@{
    ViewData["Title"] = "Privacidade";
}
<h3>@ViewData["Title"]</h3>

<p>Todo conteudo deste site foi feito por Samuel.</p>


<img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" />
Maelslp
<br>
<br>
<img src="https://img.icons8.com/color/48/000000/whatsapp--v1.png" />
(85)98713-5052
<br>
<br>
<img src="https://img.icons8.com/fluency/48/000000/email-open.png" />
<a href="mailto:Samunickinho@gmail.com">Clique aqui para contato!</a>