<br />
<div class="card col-sm-4">
    <img src="https://anitsu.com.br/wp-content/uploads/2021/08/Registros-ENcerrados-2.png" alt="Àrea de Administração" class="marginTop1" />
</div>
<div class="container">
    <div class="jumbotron">
        <p>
            <h4>Acesso não Autorizado!</h4>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>