<br />
<div class="container">
    <div class="row">
        <div id="coluna1" class="col-md-6 ">
            <a asp-area="" asp-controller="Anime" asp-action="List"><img class="img-fluid" height="400" width="500" src="https://i.ibb.co/6YtkyhC/transferir.png" /></a>
        </div>
        <div id="coluna2" class="col-md-6 ">
            <a asp-area="Admin" asp-controller="AdminAnimes" asp-action="Create"><img class="img-fluid" height="400" width="500" src="https://i.ibb.co/MfXrrq5/transferir-1.png" /></a>
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <div id="coluna3" class="w-100 col-md-12 text-center">
        <a asp-area="" asp-controller="Home" asp-action="Index"><h1 class="text-dark">Voltar Para o Inicio</h1></a>
    </div>
</div>