<br />
<div class="text-center">
        <img src="https://api.duniagames.co.id/api/content/upload/file/5869541921624616645.jpg" alt="Àrea de Administração" class="img-fluid max-width:100% height:auto" />
</div>
<div class="container">
    <div class="text-center">
        <p>
            <h4>Esta é a área do Administrador</h4>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Pagina Inicial</a>
</div>